.wrapper {
  max-width: 1024px;
  margin: auto;
  position: relative;
}

.container {
  margin: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner__wrapper {
  margin: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}