.event_rotated {
  transform: rotate(180deg);
}

.event_list_container {
  margin: 10px 0 0 0;
  padding-right: 7px;
  width: fit-content;
  position: absolute;
  min-width: 180px;
}

@media all and (max-width: 600px) {
  .event_list_container {
    padding-right: 0px;
  }
}

.event_list_container .event_item p:first-child {
  font-weight: bold;
}

.event_item {
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  width: 100%;
  padding: 15px 0 0 0;

  & > .event_time {
    margin: 15px 20px;
  }

  & > .event_title {
    font: 18px/normal 'Roboto';
    font-weight: 700;
    color: #323232;
    margin-bottom: 10px;

    &::before {
      background: #00B464;
      content: '';
      width: 5px;
      height: 5px;
      margin: 0 7.5px 5px 7.5px;
      display: inline-block;
      border-radius: 50%;
    }
  }

  & > .event_place__name, .event_place, .event_hint {
    margin: 0 20px;
  }

  & > .event_place__name, .event_place, .event_time, .event_hint {
    font-weight: 400;
    font: 16px/normal 'Roboto';
    color: #323232;
  }
}

.list {
  background: transparent;
  overflow: hidden;
  position: absolute;
  top: 25px;
  width: 126%;
  padding: 10px 0 0 0;
}

.event_List {
  background-color: #FFFFFF;
  position: relative;
  top: 0;
  animation: down .5s ease-out;
  z-index: 10;
  width: 99%;
  border: 1px solid rgba(51, 51, 51, 0.1);
  padding: 0;
  margin: 0;
}

.event_hint {
  padding-bottom: 10px;
}

ul, h4 {
  margin: 0;
}


@keyframes down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}